%h1
%br
%p Menu Item List for #{@location.restaurant.name} in #{@location.name}
%p
%table.table.table-striped
  %tr
    %th Menu Item
    %th Type of menu
    %th Availability
  - @menu_list.each do |menu|
    %tr
      %td
        = menu.item
      %td
        = menu.type_of
      %td
        = menu.day

= link_to "Add Menu", new_menu_path(:location_id => @location.id)
