= simple_form_for(@menu, :url => menus_path, :html => { :method => :post, :role => "form form-horizontal"}) do |f|
  = f.hidden_field :location_id
  = f.input :item, :label => "Menu Item", :placeholder => "eg: Idly, Dosa"
  = f.input :type_of, :label => "Type of Menu", :placeholder => "eg: Breakfast, Dinner"
  = f.select :day, options_for_select(Date::DAYNAMES), prompt: "Select Day"
  %br
  %br
  = f.button :submit
