%h1
%br

= link_to "Add Branch", new_location_path(:restaurant_id => params[:restaurant_id])

%p Branches List for #{@restaurant.name}
%p
%table.table.table-striped
  %tr
    %th Branch Name
    %th Address
    %th Add Menu
    %th View Menu
  - @locations.each do |location|
    %tr
      %td
        = location.name
      %td
        = location.address
      %td
        = link_to "Add Menu", new_menu_path(:location_id => location.id)
      %td
        = link_to "View Menu", menus_path(:location_id => location.id)

/ = will_paginate @locations
/ %br
/ = link_to "Give feedback", new_feedback_path(:menu_id => @menu.id)
